# EDA - Mobile-Driven Purchase Behavior Analysis

_A short exploratory data analysis (EDA) project exploring how mobile usage habits relate to online shopping behavior._

### Objetivo

El equipo de producto de una empresa de ecommerce necesita entender quÃ© tipo de uso mÃ³vil se asocia realmente con comportamientos de compra para tomar decisiones informadas sobre nuevas funcionalidades en las que invertir.

Quiere analizar el comportamiento de sus usuarios tambiÃ©n para trasladar este conocimiento al equipo de Marketing, de manera que puedan adaptar su estrategia de notificaciones, canales de captaciÃ³n, etc.

Como resultado de este anÃ¡lisis la empresa tendrÃ¡ informaciÃ³n clave para poner en marcha iniciativas orientadas a reducir el churn o abandono de carrito, aumentar la conversiÃ³n y mejorar la retenciÃ³n de sus clientes y usuarios.

### HipÃ³tesis (tentativa)

## ðŸ“± âž© ðŸ›’
> *Â¿Hay una correlaciÃ³n entre el tiempo de uso de dispositivos mÃ³viles y el volumen de compras online?*
---

- **Tiempo en apps de compra â†” volumen de compras**  
  Â¿Los usuarios que pasan mÃ¡s tiempo en apps de compras registran un mayor nÃºmero de compras en el e-commerce?

- **Notificaciones diarias â†” tasa de conversiÃ³n**  
  Â¿El nÃºmero de notificaciones recibidas al dÃ­a estÃ¡ relacionado con el ratio de conversiÃ³n (vistas â†’ compras)?

- **DemografÃ­a y conversiÃ³n**  
  Â¿Influyen la edad o el gÃ©nero en la probabilidad de convertir una vista en compra?

- **Perfiles de carrito abandonado**  
  Â¿Existen segmentos de usuarios que aÃ±aden muchos productos al carrito pero no finalizan la compra? Â¿CÃ³mo se definen sus patrones de uso mÃ³vil?

- **SincronÃ­a horaria de uso y compra**  
  Â¿Se solapan las horas de mayor actividad en el mÃ³vil con las horas pico de compra online?

### Datasets

### 1. Mobile Device Usage & User Behavior
   â€“ Source: Kaggle  
   â€“ Link: https://www.kaggle.com/datasets/valakhorasani/mobile-device-usage-and-user-behavior-dataset  
   â€“ Incluye tiempo diario en apps (redes, juegos, compras), notificaciones, nÃºmero de apps instaladas y datos demogrÃ¡ficos (edad, gÃ©nero, paÃ­s, SO).

### 2. E-commerce Dataset
   â€“ Source: Kaggle  
   â€“ Link: https://www.kaggle.com/datasets/mervemenekse/ecommerce-dataset/data  
   â€“ Cubre un aÃ±o de transacciones de clientes en un ecommerce americano, con cada fila representando un pedido.


### 3. Ecommerce User Behavior Data  // _En duda..._
   â€“ Source: Hugging Face  
   â€“ Link: https://huggingface.co/datasets/jin-ying-so-cute/ecommerce-user-behavior-data  
   â€“ Contiene ~35 M registros de interacciones en un e-commerce (vistas, carrito, compra, favoritos), con timestamp y categorÃ­a de producto.

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [4]:
import numpy as np
import pandas as pd

In [11]:
df_1 = pd.read_csv('data/user_behavior_dataset.csv')
df_1.head()

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class
0,1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4
1,2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3
2,3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2
3,4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3
4,5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3

In [19]:
df_1 = pd.read_csv('data/E-commerce Dataset.csv')
df_1[df_1['Device_Type'] =='Mobile']

,Order_Date,Time,Aging,Customer_Id,Gender,Device_Type,Customer_Login_type,Product_Category,Product,Sales,Quantity,Discount,Profit,Shipping_Cost,Order_Priority,Payment_method
23846,2018-09-24,22:29:48,8.0,44699,Male,Mobile,Member,Fashion,Sports Wear,85.0,1.0,0.3,28.3,2.8,High,money_order
23847,2018-05-22,14:50:54,10.0,43920,Male,Mobile,Member,Fashion,Casula Shoes,122.0,2.0,0.2,37.1,3.7,Medium,money_order
23848,2018-05-17,19:19:03,2.0,52492,Male,Mobile,Member,Fashion,Running Shoes,224.0,5.0,0.3,110.4,11.0,Medium,credit_card
23849,2018-05-04,11:39:36,5.0,13649,Male,Mobile,Member,Fashion,Formal Shoes,213.0,1.0,0.5,101.1,10.1,High,credit_card
23850,2018-06-22,17:16:37,9.0,22855,Male,Mobile,Member,Fashion,Sneakers,62.0,1.0,0.2,62.0,6.2,Medium,credit_card
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51254,2018-02-28,18:38:46,2.0,65870,Female,Mobile,Member,Home & Furniture,Dinning Tables,119.0,3.0,0.2,31.9,3.2,Medium,credit_card
51263,2018-02-28,15:04:50,9.0,68886,Female,Mobile,Member,Home & Furniture,Beds,78.0,1.0,0.4,39.0,3.9,Medium,credit_card
51278,2018-02-28,15:15:11,6.0,89200,Female,Mobile,Member,Home & Furniture,Sofa Covers,216.0,3.0,0.3,103.6,10.4,Medium,credit_card
51285,2018-02-28,22:59:50,6.0,78489,Female,Mobile,Member,Home & Furniture,Shoe Rack,124.0,4.0,0.3,19.2,1.9,Medium,money_order
51286,2018-02-28,13:19:25,2.0,91941,Female,Mobile,Member,Home & Furniture,Umbrellas,70.0,5.0,0.2,14.0,1.4,Medium,credit_card